name: "Release"

on:
  release:
    types: [published]

jobs:
  goreleaser:
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout"
        uses: actions/checkout@v6

      - name: "Setup Go"
        uses: actions/setup-go@v5
        with:
          go-version: stable

      - name: "Create App Token"
        id: app
        uses: actions/create-github-app-token@v2
        with:
          app-id: 146360
          private-key: ${{ secrets.APP_PRIVATE_KEY }}
          owner: smashedr
          repositories: "bup,homebrew-test"

      - name: "GoReleaser"
        uses: goreleaser/goreleaser-action@v6
        env:
          GITHUB_TOKEN: ${{ steps.app.outputs.token }}
        with:
          distribution: goreleaser
          version: "~> v2"
          args: release --clean
